[Unit]
Description=Collect GPU usage and process owners every 10 seconds

[Timer]
OnBootSec=15
OnUnitActiveSec=10
AccuracySec=1

[Install]
WantedBy=timers.target
